In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
l = ['國家',' ', '人口']
s=pd.Series(l)

In [23]:
l

['國家', ' ', '人口']

In [24]:
s

0    國家
1
2    人口
dtype: object

In [35]:
Country = [['Taiwan', 3000000], ['USA', 50000000],  ['Thailand', 900000000]]
l = ['國家', '人口']
Man = [3000000, 50000000, 700000000]
df = pd.DataFrame(Country, columns = l)

In [36]:
df

         國家         人口
0    Taiwan    3000000
1       USA   50000000
2  Thailand  900000000